{% extends 'base.html.twig' %} 

{% block title %}Log in!{% endblock %}

{% block body %} 
{% if error %}
    <div class="p-3 bg-danger text-center text-white mt-0 mb-5 h5">{{ error.messageKey|trans(error.messageData, 'security')|upper }}</div>
{% endif %}
<div class="container mb-3 mt-5">
    <div class="mx-auto  col-sm-12 col-md-12 col-lg-4">
        <form method="post" autocomplete="off">

            <h1 class="h3 mb-3 font-weight-normal mb-4 mt-5">Please sign in</h1>
            <div class="mb-4 text-primary h5 fw-normal">
                <label for="inputEmail">Email </label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control border border-primary  form-control-lg" autocomplete="email" required autofocus autocomplete="off">
            </div>
            <div class="mb-5 text-primary h5 fw-normal">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control border border-primary form-control-lg" autocomplete="current-password" required autocomplete="off">
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="d-grid gap-2 mt-3">
                <button class="btn btn-primary text-white" type="submit">
                    CONNEXION
                </button>
            </div>
        </form>
        {# <hr> #}
        {# <a href="" class="btn btn-block btn-primary d-block fw-bold"><i class="bi bi-qr-code-scan bt me-2"></i> {% trans %}Connexion avec Télephone{% endtrans %}</a> #}
    </div>
</div>
{% endblock %} 

{% block footer %} 
{% endblock footer %}